<h2>Search Results</h2>

<table>
  <thead>
    <tr>
      <th text-align="left;">User</th>
      <th>First name</th>
      <th>Last name</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td width="100px;"><a href='/profile?id=<%=user.id %>'><%= "%s %s" % [user.first_name.titleize, user.last_name.titleize] %></a></td>
        <td><%= user.first_name.titleize %></td>
        <td><%= user.last_name.titleize %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
