// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#about_me_section {
	background: #F0F0F0;
	padding: 10px;
}

div.wall_post_div {
	background: #F0F0F0;
	padding: 10px;
}